:host {
    flex: 1;
    max-width: 600px;
}

.action-section {
    display: flex;
    height: 100%;
}

.action-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 2rem;
}

.action-content-button{
    max-width: 150px;
}

.action-image {
  -webkit-filter: drop-shadow( 1.5px 1.5px 1px rgba(0, 0, 0, .8));
  filter: drop-shadow( 1.5px 1.5px 1px rgba(0, 0, 0, .8));
}

@media only screen and (max-width: 768px) {
    :host {
        flex: 1;
        max-width: none;

        &:first-of-type {
            margin-bottom: 1rem;
        }
    }

    .action-image {
        flex: 1;
    }

    .action-content {
        flex: 3;
    }
}
