<section class="action-section">
  <home-action>
    <green-mustache-brush-svg image></green-mustache-brush-svg>
    <h2 header>Start a Game!</h2>
    <div description> Create a lobby, share the code with your friends, and kick things offs!</div>
    <scrawlbutton link='/lobby' action>Start Game</scrawlbutton>
  </home-action>
  <home-action>
    <red-pencil-on-blue-pencil-svg image></red-pencil-on-blue-pencil-svg>
    <h2 header>Join a Game!</h2>
    <div description>All you need is a lobby code, and you're in!</div>
    <scrawlbutton color="green" link='/join' action>Join Game</scrawlbutton>
  </home-action>
</section>
