.tempDisabledlargeViewer {
    height: 500px;
    max-width: 700px;
    align-content: center;
}

.tempDisabledsmallViewer {
    height: 150px;
}

mwlResizable {
    box-sizing: border-box;
}

.rectangle {
    position: relative;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    height: 545px;
    margin: auto;
    border-radius: 30px;
    font-size: 25px;
    font-weight: bold;
}

.resize-handle-top,
.resize-handle-bottom {
    position: absolute;
    height: 5px;
    cursor: row-resize;
    width: 100%;
}

.resize-handle-top {
    top: 0;
}

.resize-handle-bottom {
    bottom: 0;
}

.resize-handle-left,
.resize-handle-right {
    position: absolute;
    height: 100%;
    cursor: col-resize;
    width: 5px;
}

.resize-handle-left {
    left: 0;
}

.resize-handle-right {
    right: 0;
}