<div class="sliderFrame">
  <mv-slider
              [min]="sliderParameters.min" [max]="sliderParameters.max"
             [range]="sliderParameters.range"
             tooltip="show"
             [tooltipSplit]="true"
             [step]="1"
             tooltipPosition="top"
             selection="before"
             [enabled]="true"
             [ticks]="sliderParameters.ticks"
             handle="round"
             [ticksTooltip]="true"
             [ticksLabels]="sliderParameters.ticksLabels"
             (valueChange)="valueChange($event)"
        ></mv-slider>
</div>
