@import "styles/common";

:host {
    width: 100%;
}

.faq-wrapper{
    display:flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.faq-card {
    @include card;

    box-shadow: var(--shadow-md);
    width: 600px;
    padding: 1.5rem;
    margin: 1rem;
    border-radius: 5px;
    overflow: hidden
}

.qas{
    margin-top: 1.75rem;
}