<div class="sliderFrame">
    <mv-slider [min]="sliderParameters.min" [max]="sliderParameters.max" [range]="sliderParameters.range" [tooltip]="'always'" [tooltipSplit]="true" [step]="1" [tooltipPosition]="'top'" [selection]="sliderSelection" [enabled]="sliderParameters.enabled" [ticks]="sliderParameters.ticks"
        handle="round" [ticksTooltip]="'true'" [value]="sliderParameters.value" [ticksLabels]="sliderParameters.ticksLabels" [rangeHighlights]="theRangeHighlights" (valueChange)="valueChange($event)"></mv-slider>
</div>