.leave-lobby-button {
    width: 200px;
    margin: 0 auto;
}

.wait-button-list {
    width: 100%;
}

.lobby-wait-header {
    text-align: center;
}

.desktopContent {
    width: 100%;
    padding-top: 10px;
    text-align: center;
    display: block;
}

.textLink {
    color: var(--blue-primary);
    cursor: pointer;
}

@media only screen and (max-width: 959px) {
    .desktopContent {
        display: none;
    }
}