<h2 [ngStyle]="{'margin-bottom': '1.5rem'}">
    {{gameModeList.gameModes[lobby.selectedGameMode].title}}
</h2>

<mat-dialog-content>
    <div *ngFor="let option of gameModeList.gameModes[lobby.selectedGameMode].options; let i = index">
        <div class="gamemode-option" *ngIf="option.responseType.toString() === 'Integer'">
            <span>{{ option.description }}</span>
            <input type="number" [(ngModel)]="option.value" [min]="option.minValue" [max]="option.maxValue" />
        </div>
        <div class="gamemode-option" *ngIf="option.responseType.toString() === 'Boolean'">
            <span>{{ option.description }}</span>
            <ui-switch [(ngModel)]="option.value" size="small"></ui-switch>
            <!-- <input type="checkbox" id="bool-switch-{{i}}" checked="" [(ngModel)]="option.value" > -->
        </div>
    </div>
    <div class="error" *ngIf="error">
        {{ error }}
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <scrawlbutton [ngStyle]="{'margin-right': '.75rem'}" color='red' (click)="closeDialog()">
        Close
    </scrawlbutton>
    <scrawlbutton color='green' (click)="onGameModeNext()">
        Next
    </scrawlbutton>
</mat-dialog-actions>