:host{
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding: 2rem;
}

.gamemode {
    display: flex;
    box-shadow: var(--shadow-lg);
    overflow: hidden;
    flex-direction: column;
    border-radius: 10px;
    height: 100%;
}    

.gamemode-content {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    height: 100%;
    justify-content: space-between;
}

.gamemode-text {
    margin-bottom: 1rem;
    font-size: .9rem;
}

.action-wrapper {
    display: flex;
    padding: 0 1.25rem .5rem 0;
}

.gamemode-img {
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 1200px) {
    :host{
        flex: 0 0 50%;
        max-width: 50%;
        padding: 1.5rem;
    }
}

@media only screen and (max-width: 768px) {
    :host{
        flex: 0 0 85%;
        max-width: 85%;
        padding: 1.5rem;
    }

}

@media only screen and (max-width: 420px) {
    :host{
        flex: 0 0 100%;
        max-width: 100%;
        padding: 1.5rem;
    }
}