:host{
    width: 100%;
    height: 100%;
}
.gamemode {
    display: flex;
    min-width: 400px;
    min-height: 550px;
    box-shadow: var(--shadow-lg);
    overflow: hidden;
    flex-direction: column;
    border-radius: 10px;
    margin: 0 2rem;
}    

.gamemode-content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-left: 3rem;
}

.gamemode-text {
    margin: 2rem 0;
}

.action-wrapper {
    display: flex;
    padding: 0 1.25rem .5rem 0;
}

.gamemode-img {
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 1200px) {
    .gamemode {
        margin: 0 .5rem;
        padding: .5rem;
    }

    .gamemode-img{
        min-width: 300px;
        max-width: 300px;
    }
}

@media only screen and (max-width: 768px) {
    .gamemode {
        flex-direction: column;
        align-items: center;
    }

    .gamemode-content{
        margin-left: 1rem;
    }
}

@media only screen and (max-width: 420px) {
    .gamemode {
        margin: 0;
        padding: 0;
    }
}