:host{
    width: 100%
}

.footer{
    padding: 4rem 0;
    background-color: rgba(0, 0, 0, .98);
    width: 100%;
    margin: 0 auto;
    white-space: nowrap;
}

.footer-inner {
    margin: 0 auto;
    max-width: 1250px;
    padding: 0 2rem;
}

.socials{
    display: flex;
    margin: 1.5rem 0;

    a {
        transition: all .2s ease;
        margin-right: 20px;
        max-height: 23px;
        max-width: 30px;
    }

    a:hover{
        fill: var(--ornamental-pastelyellow);
    }
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-bottom{
    display: flex;
    width: 100%;
    margin-top: 2rem;
    justify-content: space-between;
    align-items: center;
}

.footer-section-title{
    font-family: "Poppins", sans-serif;
    margin-bottom: 2rem;
    color: var(--blue-secondary);
    font-size: 1.1rem;
}

.footer-logo {
    max-width: 300px;
    stroke: white !important;
    fill: var(--ornamental-pastelyellow);
    transition: all .3s ease;

    &:hover{
        fill: var(--ornamental-pastelblue)
    }
}

.footer-link{
    margin-bottom: 0.5rem;
    font-size: 1.2rem;

    a {
        transition: all .2s ease;
        font-size: .9rem;
        color: var(--white-secondary);
    }

    a:hover{
        color: var(--blue-secondary);
    }
}

.footer-bottom-tagline{
    color: var(--white-secondary);
    font-size: .8rem;
}


@media only screen and (max-width: 768px) {

    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2.5rem 0;
    }

    .footer-section {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        width: 100%;  
    }

    .footer-section-title{
        margin-bottom: .5rem;
        align-items: center;
    }

    .footer-links{
        flex-direction: column;
        align-items: center;
    }

    .footer-bottom{
        margin-top: 0;
        flex-direction: column;
        align-items: initial;
    }

    .footer-bottom-tagline{
        margin-bottom: .5rem;
    }
  }