<div class="plrskip-user-wrapper">
    <select #galleryDD class="Dropdown" (change)="currentGalleryId=galleryDD.value">
            <option *ngFor="let gallery of galleryTypes; let i = index" [selected]="(currentGalleryId==gallery.galleryId)" value="{{gallery.galleryId}}">
                {{gallery.galleryDesc}}
            </option>
        </select>
    <div>
        <drawingboard [galleryEditor]="true" [galleryId]="currentGalleryId"></drawingboard>
    </div>
</div>
<div>
    <scrawlbutton (click)="onDeleteUser()">
        Leave Lobby
    </scrawlbutton>
</div>