<!DOCTYPE html>
<html>
  <head>
    <meta content="en-us" http-equiv="Content-Language">
    <meta charset="utf-8" />
    <title>Scrawl Brawl - About Us</title>
    <style type="text/css">
    * {
	    font-family: Arial, Helvetica, sans-serif;
		}
	.auto-style1 {
		font-size: x-large;
	}
	.auto-style2 {
		text-align: center;
	}
	</style>
    </head>
  <body>

  <h1 class="auto-style2">Team Scrawl Brawl</h1>
  <p>Scrawl Brawl was created so large family gatherings could play games 
  without some of the people having to sit out.&nbsp;&nbsp; The goal of Scrawl 
  Brawl is for large groups to have fun together.&nbsp; The project has been 
  released as open source to encourage others to help develop games.</p>
  <p>&nbsp;</p>

  <table style="width: 100%">
	  <tr>
		  <td style="width: 239px; height: 40px">
		  <span class="auto-style1"><strong>Kevin Royston</strong></span><br>
		  <em>Creator / Lead Developer</em><br>&nbsp;</td>
		  <td style="height: 40px" valign="top">Kevin is a software 
		  engineer at a large corporation.</td>
	  </tr>
	  <tr>
		  <td style="width: 239px; height: 52px;"><span class="auto-style1"><strong>Brian Royston</strong></span><br>
		  <em>Lead Developer</em><br>&nbsp;</td>
		  <td style="height: 52px" valign="top">Brian is an undergraduate student at U.C. 
		  Berkeley studing Comptuer Science.<br></td>
	  </tr>
	  <tr>
		  <td style="width: 239px; height: 52px;"><span class="auto-style1"><strong>Yourname Here</strong></span><br>
		  <em>Web Developer</em><br>&nbsp;</td>
		  <td style="height: 52px" valign="top">Seriously... someone... help.<br>I'm a coder Jim, not a designer.</td>
	  </tr>
	  <tr>
		  <td style="width: 239px">&nbsp;</td>
		  <td>&nbsp;</td>
	  </tr>
	  <tr>
		  <td style="width: 239px">&nbsp;</td>
		  <td>&nbsp;</td>
	  </tr>
  </table>

  </body>
</html>
