<nav class="navbar" [ngClass]="{'navbar-homepage': isHomePage, 'navbar-standard': isPastHero}">
  <div class="navbar-left">
    <a (click)="redirectLink('')">
      <div class="navbar-logo">
        <scrawlbrawl-logo-horizontal></scrawlbrawl-logo-horizontal>
      </div>
    </a>
    <div id='hamburger' [ngClass]="{open: isExpanded}" (click)="toggle()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="navbar-right" [ngClass]="{'active': isExpanded}">
    <div class="nav-item" [routerLinkActive]="['link-active']">
      <a class="trans-link" (click)="redirectLink('play')">Play</a>
    </div>
    <div class="nav-item" [routerLinkActive]="['link-active']">
      <a class="trans-link" (click)="redirectLink('lobby')">Lobby</a>
    </div>
    <div class="nav-item" [routerLinkActive]="['link-active']">
      <a class="trans-link" (click)="redirectLink('user')">User</a>
    </div>
  </div>
</nav>

