<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light"
  >
    <div class="navbar-left">
      <a [routerLink]="['/']">
        <img class="navbar-brand" alt="Scrawl Brawl" src="/assets/SB_Logo_Transp_Shadow.png">
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div
      class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
      [ngClass]="{ show: isExpanded }"
    >
      <ul class="navbar-nav flex-grow">
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="trans-link" [routerLink]="['/game/play']">Play</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="trans-link" [routerLink]="['/lobby/manage']">Manage Lobby</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="trans-link" [routerLink]="['/user/manage']">Manage User</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
