
.navbar{
  padding: .25rem 0;
  height: 65px;
  box-shadow: var(--shadow);
  transition: all .3s ease;
  z-index: 1000;
}

.navbar-logo {
  fill: var(--ornamental-pastelblue);
  transition: all .3s ease;
  height: 40px;
  width: 250px;
}

.navbar-logo:hover{
  fill: var(--ornamental-pastelyellow);
}

.navbar-left {
  padding: 0 4%;
}

.nav-item {
  margin-right: 20px;
}

.nav-item:hover{
  cursor:pointer;
}

.navbar-homepage{ 
  background: transparent;
  box-shadow: none;
  position: fixed;
  top:0;
  width: 100%;
  position: -webkit-sticky;

  & .trans-link:hover {
    background-color: white;
  }
}

.navbar-brand {
  max-width: 100px;
}

.navbar-standard{
  background-color: white;
  box-shadow: var(--shadow);

  & .trans-link:hover {
    background-color: var(--white-secondary);
  }
}
