
.navbar{
  display: flex;
  padding: .25rem 0;
  min-height: 60px;
  border-bottom: var(--border-grey);
  transition: all .3s ease;
  width: 100%;
  z-index: 1000;
}

.navbar-left {
  display: flex;
  padding: 0 4%;
  justify-content: space-between;
  flex: 1;
}

.navbar-right {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.navbar-open{
  background: white !important;
  transition: all .25s ease;
}

#hamburger {
  display: none;
  width: 28px;
  height: 28px;
  margin-top: 5px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: black;
    border-radius: 15px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }

  & span:nth-child(1) {
    top: 0px;
    transform-origin: left center;
  }
  
  & span:nth-child(2) {
    top: 10px;
    transform-origin: left center;
  }
  
  & span:nth-child(3) {
    top: 20px;
    transform-origin: left center;
  }
  
  &.open span:nth-child(1) {
    transform: rotate(45deg);
  }
  
  &.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }
  
  &.open span:nth-child(3) {
    transform: rotate(-45deg);
  }
}

.navbar-logo {
  fill: var(--ornamental-pastelblue);
  transition: all .3s ease;
  height: 40px;
  width: 250px;
  cursor: pointer;
}

.navbar-logo:hover{
  fill: var(--ornamental-pastelyellow);
}

.nav-item {
  margin-right: 20px;

  a{
    text-decoration: none;
  }
}

.nav-item:hover{
  cursor:pointer;
}

.navbar-homepage{ 
  background: transparent;
  border: 1px solid transparent;
  position: fixed;
  top:0;
  width: 100%;

  & .trans-link:hover {
    background-color: white;
  }
}

.navbar-brand {
  max-width: 100px;
}

.navbar-standard{
  background-color: white;
  border: var(--border-grey);

  & .trans-link:hover {
    background-color: var(--white-secondary);
  }
}


@media only screen and (max-width: 768px) {
  nav{
    flex-direction: column;
  }

  #hamburger{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .navbar-left{ 
    width: 100%;
    margin-top: .5rem;
  }

  .navbar-right {
    display: none;
    flex-direction: column;
    color: white !important;
    margin-right:0;
    width: 100%;
    margin: 0 auto;
    border-radius: 2px;
    margin-top: .5rem;
  }

  .trans-link{
    color: black;
    width: 100%;
    font-size: 1rem;
  }

  .active {
    display: flex;
  }

  .nav-item {
    display: flex;
    width: 100%;
    margin-right: 0;
  }
}