<div class="loading" *ngIf="!userPrompt">
    <mat-spinner [diameter]="30"></mat-spinner>
</div>
<div class="fetch-data">

    <form ng-app="myApp" class="form" *ngIf="userPrompt" [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value)">
        <div *ngIf="userPrompt.submitButton" class="sticky-nav-wrapper">
            <div class="sticky-nav">
                <div *ngIf="timerDisplay!=''" class="timerPanel" [ngStyle]="{'background-color': timerColor}">{{timerDisplay}}
                    <div *ngIf="userPrompt.promptHeader.maxProgress > 0" class="progressPanel">
                        {{userPrompt.promptHeader.promptLabel}} {{userPrompt.promptHeader.currentProgress}} of {{userPrompt.promptHeader.maxProgress}}
                    </div>
                </div>
                <div class="Error" *ngIf="userPrompt.error">
                    {{ userPrompt.error }}
                </div>
            </div>
            <div class="sticky-nav">
                <div style="width:80px;padding-top: 4px;">
                    <scrawlbutton *ngIf="userPrompt.suggestion" color="blue" (click)="suggestValues()">
                        Suggest
                    </scrawlbutton>
                </div>
            </div>
            <div class="sticky-nav">
                <div style="width:110px;padding-top: 4px;">
                    <scrawlbutton *ngIf="userPrompt.submitButton" color="green" (click)="onSubmit(userForm.value)">
                        {{userPrompt.submitButtonText}}
                    </scrawlbutton>
                </div>
            </div>
        </div>
        <h2 class="title" *ngIf="userPrompt.title" [innerHTML]="userPrompt.title | safe: 'html'">
        </h2>
        <div class="Description" *ngIf="userPrompt.description" [innerHTML]="userPrompt.description | safe: 'html'">
        </div>
        <displayusers *ngIf="userPrompt.displayUsersString" class="DisplayUsersHolder" [displayUsersParameters]="displayUsersMetadata" [displayUsersMode]="userPrompt.DisplayUsersString"></displayusers>

        <div class="subprompts" *ngIf="userPrompt.subPrompts">
            <div class="subprompt" *ngFor="let subPrompt of userPrompt.subPrompts; let j = index" formArrayName="subForms">
                <div class="subprompt-inner" [formGroupName]="j">
                    <div class="prompt-wrapper">
                        <h5 class="prompt" *ngIf="subPrompt.prompt" [innerHTML]="subPrompt.prompt | safe: 'html'">

                        </h5>
                    </div>
                    <div *ngIf="subPrompt.stringList">
                        <div class="StringList" *ngFor="let iString of subPrompt.stringList">
                            <div [innerHTML]="iString | safe: 'html'"></div>
                        </div>
                    </div>
                    <select class="Dropdown" formControlName="dropdownChoice" *ngIf="subPrompt.dropdown">
                        <option *ngFor="let dropdown of subPrompt.dropdown; let i = index" value="{{i}}">
                            {{dropdown}}
                        </option>
                    </select>
                    <div *ngIf="subPrompt.answers">
                        <div class="RadioAnswer" *ngFor="let answer of subPrompt.answers; let i = index">
                            <label for="ra{{j}}-{{i}}b">
                            <input type="radio" formControlName="radioAnswer" value="{{i}}" id="ra{{j}}-{{i}}b" />
                             <span [innerHTML]="answer | safe: 'html'"></span></label>
                        </div>
                    </div>

                    <div *ngIf="subPrompt.selector" appSelector class="SelectorHolder" [selectorParameters]="subPrompt.selector" formControlName="selector"></div>


                    <waitingforgamestart *ngIf="subPrompt.waitingForGameStart" class="WaitForGameStartHolder" [lobbyId]="userPrompt.lobbyId" [waitingForGameStartParameters]="subPrompt.waitingForGameStart"></waitingforgamestart>

                    <slider *ngIf="subPrompt.slider" class="SliderHolder" [sliderParameters]="subPrompt.slider" formControlName="slider"></slider>
                    <input type="color" *ngIf="subPrompt.colorPicker" formControlName="color" class="color-input" (click)='openColorPicker($event, j)' [value]="subPrompt.color" [ngStyle]="{'background-color': subPrompt.color}">
                    <!--input           *ngIf="subPrompt.colorPicker" formControlName="color" [(colorPicker)]="subPrompt.color" [style.background]="subPrompt.color" [readonly]="true" [cpPosition]="'bottom'" [ngModel]="subPrompt.color" [cpOutputFormat]="'rgba'" [cpAlphaChannel]="'disabled'" -->

                    <input type="text" class="text-input" formControlName="shortAnswer" *ngIf="subPrompt.shortAnswer">

                    <drawingboard *ngIf="subPrompt.drawing" [drawingOptions]="subPrompt.drawing" formControlName="drawing"></drawingboard>
                </div>
            </div>
        </div>

        <app-tutorial *ngIf="userPrompt.tutorial" class="TutorialHolder" [tutorialMetadata]="userPrompt.tutorial" [gameModeIdString]="userPrompt.gameIdString"></app-tutorial>

        <div class="Error" *ngIf="userPrompt.error">
            {{ userPrompt.error }}
        </div>
        <scrawlbutton class='submit-prompt' *ngIf="userPrompt.submitButton" color="green" (click)="onSubmit(userForm.value)">
            {{userPrompt.submitButtonText}}
        </scrawlbutton>
        <div *ngIf="userPrompt.submitButton" gameAsset [gameAssetClass]="'game-css'" [gameAssetType]="'prompts-css'" [gameAssetID]="userPrompt.gameIdString">
        </div>
    </form>
</div>