<div class="LoadingText" *ngIf="!userPrompt">
    <em>Loading...</em>
</div>
<div class="fetch-data">
    <form ng-app="myApp" class="form" *ngIf="userPrompt" [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value)">
        <h1 class="title" *ngIf="userPrompt.title">
            {{ userPrompt.title }}
        </h1>
        <div class="Description" *ngIf="userPrompt.description">
            {{ userPrompt.description }}
        </div>
        <div class="subprompts" *ngIf="userPrompt.subPrompts">
            <div class="subprompt" *ngFor="let subPrompt of userPrompt.subPrompts; let j = index" formArrayName="subForms">
                <div class="subprompt-inner" [formGroupName]="j">
                    <div class="prompt-wrapper">
                        <h5 class="prompt" *ngIf="subPrompt.prompt">
                            {{subPrompt.prompt}}
                        </h5>
                    </div>
                    <div *ngIf="subPrompt.stringList">
                        <div class="StringList" *ngFor="let iString of subPrompt.stringList">
                            <div [innerHTML]="iString | safe: 'html'"></div>
                        </div>
                    </div>
                    <select class="Dropdown" formControlName="dropdownChoice" *ngIf="subPrompt.dropdown">
                        <option *ngFor="let dropdown of subPrompt.dropdown; let i = index" value="{{i}}">
                            {{dropdown}}
                        </option>
                    </select>
                    <div *ngIf="subPrompt.answers">
                        <div class="RadioAnswer" *ngFor="let answer of subPrompt.answers; let i = index">
                            <input type="radio" formControlName="radioAnswer" value="{{i}}" id="ra{{i}}b" />
                            <label for="ra{{i}}b" [innerHTML]="answer | safe: 'html'"></label>
                        </div>
                    </div>

                    <div *ngIf="subPrompt.selector" appSelector class="SelectorHolder" [selectorParameters]="subPrompt.selector" formControlName="selector">

                    </div>

                    <slider *ngIf="subPrompt.slider" class="SliderHolder" [sliderParameters]="subPrompt.slider" formControlName="slider"></slider>

                    <input formControlName="color" [(colorPicker)]="subPrompt.color" [style.background]="subPrompt.color" [readonly]="true" [cpPosition]="'bottom'" [ngModel]="subPrompt.color" [cpOutputFormat]="'rgba'" [cpAlphaChannel]="'disabled'" *ngIf="subPrompt.colorPicker">
                    <input type="text" class="text-input" formControlName="shortAnswer" *ngIf="subPrompt.shortAnswer">

                    <drawingboard *ngIf="subPrompt.drawing" [drawingPrompt]="subPrompt.drawing" formControlName="drawing"></drawingboard>
                </div>
            </div>
        </div>
        <div class="Error" *ngIf="userPrompt.error">
            {{ userPrompt.error }}
        </div>
        <scrawlbutton *ngIf="userPrompt.submitButton" color="green" (click)="onSubmit(userForm.value)">
            Submit
        </scrawlbutton>
    </form>
</div>