<div class="fetch-data">
    <form class="form" [formGroup]="form">
        <h2 class="title">
            Create A Game (it's free!)
        </h2>
        <div class="Description">
            These games all require a shared screen viewable by all players, as well as personal devices (such as mobile phones for each player).
        <br>
        <br>
        </div>
        <div class="ButtonDescription" *ngIf="!showPrompts">
            To use this device for both personal AND shared views, click<br>
        </div>
        <div class="subprompts" *ngIf="showPrompts">
            <div class="subprompt">
                <div class="subprompt-inner">
                    <div class="prompt-wrapper">
                        <h5 class="prompt">Your Nickname</h5>
                    </div>
                </div>
                <input type="text" class="text-input" formControlName="DisplayName">
            </div>
            <div class="subprompt">
                <div class="subprompt-inner">
                    <div class="prompt-wrapper">
                        <h5 class="prompt">Self Portrait</h5>
                    </div>
                </div>
                <drawingboard [drawingType]="'PROFILE'" formControlName='SelfPortrait'></drawingboard>
            </div>
        </div>
        <scrawlbutton color="green" (click)="onCreateAndJoinLobbySubmit()">
            Create & Join Lobby
        </scrawlbutton>

        <div class="ButtonDescription">
            <br>To use this device only as a shared view, click
        </div>
        <scrawlbutton color="blue" (click)="onCreateLobbySubmit()">
            {{showPrompts?"Cancel":"Create Lobby"}}
        </scrawlbutton>
    </form>
</div>