<div class="fetch-data">
    <form class="form" [formGroup]="form">
        <h2 class="title">
            Create A Game
        </h2>
        <div class="Description">
            You are welcome to start a free game and invite friends.<br><br> There is a separate game viewer needed to play ScrawlBrawl. (Don't worry, it's all free.) It works best if someone shares the web viewer tab so that all players can see it.<br><br>
        </div>
        <div class="ButtonDescription" *ngIf="!showPrompts">
            If you want to play on this device and be the lobby leader, click<br>
        </div>
        <div class="subprompts" *ngIf="showPrompts">
            <div class="subprompt">
                <div class="subprompt-inner">
                    <div class="prompt-wrapper">
                        <h5 class="prompt">Your Nickname</h5>
                    </div>
                </div>
                <input type="text" class="text-input" formControlName="DisplayName">
            </div>
            <div class="subprompt">
                <div class="subprompt-inner">
                    <div class="prompt-wrapper">
                        <h5 class="prompt">Self Portrait</h5>
                    </div>
                </div>
                <drawingboard [drawingType]="'PROFILE'" formControlName='SelfPortrait'></drawingboard>
            </div>
        </div>
        <scrawlbutton color="green" (click)="onCreateAndJoinLobbySubmit()">
            Create & Join Lobby
        </scrawlbutton>

        <div class="ButtonDescription">
            <br>If you will not be using this device to play the game, click
        </div>
        <scrawlbutton color="blue" (click)="onCreateLobbySubmit()">
            {{showPrompts?"Cancel":"Create Lobby"}}
        </scrawlbutton>
    </form>
</div>