<body>
  <div class="style1">
    <h1 class="style1">Coming Soon!</h1>
    <p class="style1">
      <a [routerLink]="['/game/play']">
        <img class="style2" alt="Scrawl Brawl" src="/assets/SB_Logo_Transp_Shadow.png">
      </a>
    </p>
    <h1 class="style1">Drawn Together<br>Polled Apart</h1>
    <iframe class="style2" height="315" src="https://www.youtube.com/embed/UtIlhgQW_lM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  
  </div>
</body>
