.icon-button {
    display: flex;
    border: 0;
    background-color: var(--white-primary);
    align-items: center;
    padding: .5rem;
    border-radius: 4px;
    justify-content: center;
    transition: all .3s ease;
    max-width: 46px;
    max-height: 46px;
    fill: white;
}
:host ::ng-deep svg {
    max-width: 36px;
    max-height: 36px;
    fill: white;
}

.icon-button-active {
    background-color: var(--ornamental-pastelblue);
    border: 2px solid var(--black-primary);
}

.icon-button:hover{
    background-color: var(--white-secondary);
} 