.icon-button {
    display: flex;
    border: 0;
    background-color: transparent;
    align-items: center;
    padding: .5rem;
    border-radius: 4px;
    justify-content: center;
    transition: all .3s ease;
    max-width: 100%;
    max-height: 100%;

    &:hover{
        background-color: var(--iconbutton-hover);
    }
}

:host ::ng-deep svg {
    max-width: 25px;
    max-height: 25px;
}

.icon-button-active {
    background-color: var(--iconbutton-hover);
}