.icon-button {
    display: flex;
    border: 0;
    background-color: transparent;
    align-items: center;
    padding: .5rem;
    border-radius: 4px;
    justify-content: center;
    transition: all .3s ease;
    max-width: 43px;
    max-height: 43px;

    &:hover{
        background-color: var(--iconbutton-hover);
    }
}
:host ::ng-deep svg {
    max-width: 36px;
    max-height: 36px;
}

.icon-button-active {
    background-color: var(--pastelblue);
    border: 2px solid var(--black-primary);
}