<section>
  <div class='home-textimage'>
    <div class="home-text left">
      <div class="home-text-wrapper">
        <h2 class="itsection-title">
          Open source, and open to all!
        </h2>
        <div class="itsection-description">
          Scrawl Brawl was built with the goal of allowing current and aspiring game developers to have an outlet for their ideas. If you’re interested in putting together a game mode, today’s the day to get started!
        </div>
        <div class="itsection-button">
          <scrawlbutton (onClick)="onGithubRedirect()">
            Learn More
          </scrawlbutton>
        </div>
      </div>
    </div>
    <div class='home-svg'>
      <img src="assets/svgs/coming-soon.svg">
    </div>
  </div>
</section>
