/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #FFFFFF;
  color: #210F4C;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.SubmitButton {
  color: rgb(61, 49, 173);
  font-size: 23px;
  padding: 6px;
  border: 1px solid black;
  border-radius: 4px;
  display: inline-block;
  align-content: center;
}

  .SubmitButton:hover {
    background: #5F4EA4;
  }

  .SubmitButton:active {
    background: #362C5D;
  }

input.text {
  padding: 3px;
}

input {
  background-color: whitesmoke;
  border: 1px solid #DEDEDE;
  border-radius: 4px;
}

.Title {
  font-size: 27px;
  letter-spacing: -0.4px;
  word-spacing: -0.8px;
  font-weight: 700;
  font-style: normal;
  text-transform: none;
}

.Error {
  color: red;
}

.Description {
  font-size: 21px;
  letter-spacing: 0.4px;
  word-spacing: -0.2px;
  font-weight: 400;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

.Prompt {
  font-size: 17px;
  letter-spacing: -0.2px;
  word-spacing: 0.2px;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

.ShortAnswer {
  font-size: 14px;
  letter-spacing: -0.2px;
  word-spacing: -1.4px;
  font-weight: 400;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

.RadioAnswer {
  font-size: 30px;
  letter-spacing: -0.2px;
  word-spacing: -1.4px;
  font-weight: 400;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

.DrawingCanvas {
  border: 1px solid #DEDEDE;
  border-radius: 4px;
  background-color: transparent;
  pointer-events: all;
}

.DrawingBackground {
  border: 5px ridge rgba(0,0,0,0.0);
  background-color: whitesmoke;
}

.CanvasHolder {
  background-color: transparent;
  pointer-events: none;
}

#wrapper {
  width: 980px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  background-color: #38147C;
}


input[type='radio'] {
  height: 45px;
  width: 45px;
  vertical-align: middle;
}

.color-box {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: #ccc;
  position: relative;
  top: 5px;
}


