<div class="LoadingText" *ngIf="!userPrompt"><em>Loading...</em></div>
<form *ngIf="userPrompt" [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value)">
  <div class="Title" *ngIf="userPrompt.title" >{{ userPrompt.title }}</div>
  <div class="Description" *ngIf="userPrompt.description">{{ userPrompt.description }}</div>
  <div *ngIf="userPrompt.subPrompts" >
    <div *ngFor="let subPrompt of userPrompt.subPrompts; let j = index" formArrayName="subForms">
      <div [formGroupName]="j">
        <div class="Prompt" *ngIf="subPrompt.prompt">{{subPrompt.prompt}}</div>
        <div *ngIf="subPrompt.answers">
          <div *ngFor="let answer of subPrompt.answers; let i = index">
            <input type="radio" formControlName="radioAnswer" value="{{i}}">{{answer}}
          </div>
        </div>
        <input type="text" class="ShortAnswer" formControlName="shortAnswer" *ngIf="subPrompt.shortAnswer">
        <input type="file" class="Drawing" formControlName="drawing" *ngIf="subPrompt.drawing">
      </div>
    </div>
  </div>
  <button class="button" type="submit" *ngIf ="userPrompt.submitButton">Submit</button>
</form>
