<section>
  <div class="questions-section-wrapper">
    <div class="questions-section">
      <h2>Got questions? We've got answers.</h2>
      <div class="helper">
        (Just read our FAQs)
      </div>
      <div class="button">
        <scrawlbutton textColor='black' color='yellow'>
          Learn More
        </scrawlbutton>
      </div>
    </div>
    <div class="svgs">
      <div class='feather'>
        <img src="assets/svgs/feather-question.svg">
      </div>
    </div>
  </div>
</section>
