.body-wrapper{
    display: flex; 
    flex-direction: column; 
    min-height: 100%;
}

.root-container {
    display: flex; 
    flex: 1 0 auto;
    overflow-x: hidden;
    background: rgb(250, 250, 250);
}