<!--Create Lobby button shows on load-->
<div *ngIf="!lobby">
  <button (click)="onCreateLobby()">Create Lobby</button>
</div>

<div class="lobby-wrapper" *ngIf="lobby">
  <div class="lobby-header">
    <h2 class="lobby-id">
      Lobby ID: {{ lobby.lobbyId.toUpperCase() }}
    </h2>
    <div class="lobby-header-sections">
      <div class="lobby-header-section">
        <div class="section-title">
          Players Joined: {{ lobby.playerCount }}
        </div>
        <div>

        </div>
      </div>
      <div class="lobby-header-section">
        <div class="section-title" id="admin-actions">
          Admin Actions
          <a href="https://github.com/kevinjroyston/RoystonGame/releases/latest/download/ScrawlBrawlClient.zip">
            <scrawlbrawl-iconbutton matTooltip="Download Game Viewer" [mdTooltipClass]="{'tooltip': true}" >
              <ion-icon name="cloud-download-outline"></ion-icon>
            </scrawlbrawl-iconbutton>
          </a>
        </div>
        <div class="lobby-actions">
          <simplebutton size='small' color='red' (click)="onDeleteLobby()">
            Delete Lobby
          </simplebutton>
        </div>
      </div>
    </div>  
  </div>

  <div *ngIf="!lobby.isGameInProgress">
    <h2 *ngIf ="gameModes && gameModes.length > 0">
      Select Game Mode
    </h2>
    
    <div class="game-options">
      <div class="game-option-wrapper" *ngFor="let gameMode of gameModes; index as i" >
        <div class="game-option" (click)="onSelectGameMode(i)" [ngClass]='{"active": isGameModeSelected(i)}'>
          <div class="game-option-img">
            <img gameAsset [gameID]="gameMode.gameIdString">
          </div>
          <div class="game-option-info">
            <div class="game-option-title">
              {{ gameMode.title }}
              <scrawlbrawl-iconbutton matTooltip="Game Info" [mdTooltipClass]="{'tooltip': true}" (click)="openGameInfoDialog($event, i)">
                <ion-icon name="information-circle-outline"></ion-icon>
              </scrawlbrawl-iconbutton>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
