<!--Create Lobby button shows on load-->
<div class="no-lobby" *ngIf="lobby === null">
    <div class="already-in-lobby" *ngIf="inAGame">
        <h2 class="title">
            You are currently in a lobby.
        </h2>

        If you want to be the leader of your own game,<br> you must leave this lobby first.<br>
        <div class="lobby-button">
            <scrawlbutton (click)="onRerouteToPlay()" color="green">
                Back to play page
            </scrawlbutton>
        </div>
        <div class="lobby-button">
            <scrawlbutton (click)="onDeleteUser()" color="red">
                Leave Lobby
            </scrawlbutton>
        </div>
    </div>
    <div class="no-lobby" *ngIf="!inAGame">
        <app-create-lobby (onCreateLobby)="onCreateLobby($event)" (onCreateAndJoinLobby)="onCreateAndJoinLobby($event)"></app-create-lobby>
    </div>
</div>

<div class="sticky" *ngIf="lobby">
    <div class="sticky-nav-wrapper">
        <div class="sticky-nav" style="line-height: 56px;">
            <span class="showLobbyId">Lobby Code: {{ lobby.lobbyId.toUpperCase() }}
        </span>
        </div>
        <div class="sticky-nav" style="width:150px;padding-right:20px;">
            <div style="width:120px;padding-top: 4px;">
                <scrawlbutton color="red" (click)="onDeleteLobby()">
                    Delete Lobby
                </scrawlbutton>
            </div>
        </div>
    </div>
</div>

<div class="lobby-wrapper" *ngIf="lobby">




    <div class="lobby-header-viewer">
        <h3 class="lobby-id">Game Viewer</h3>
        <div class="unityViewer">
            <unity [lobbyId]="lobbyId"></unity>
        </div>

        <div class="lobby-header">
            <div class="icon-row">
                <scrawlbrawl-iconbutton (click)="unityViewer.showFullScreen()" matTooltip="Show Viewer Full Screen" [mdTooltipClass]="{'tooltip': true}">
                    <ion-icon [style.color]="'var(--red-secondary)'" name="tv-outline"></ion-icon>
                </scrawlbrawl-iconbutton>
                <scrawlbrawl-iconbutton (click)="putViewerLinkOnClipboard()" matTooltip="Put Link to Viewer on Clipboard" [mdTooltipClass]="{'tooltip': true}">
                    <ion-icon [style.color]="'var(--red-secondary)'" name="clipboard-outline"></ion-icon>
                </scrawlbrawl-iconbutton>
            </div>
        </div>
    </div>
    <div class="lobby-header">
        <div class="lobby-top">
            <h3 class="lobby-id">Lobby</h3>
            <div class='icon-row'>
                <scrawlbrawl-iconbutton (click)="putGameLinkOnClipboard()" matTooltip="Put Game Link on Clipboard" [mdTooltipClass]="{'tooltip': true}">
                    <ion-icon [style.color]="'var(--red-secondary)'" name="clipboard-outline"></ion-icon>
                </scrawlbrawl-iconbutton>
                <scrawlbrawl-iconbutton (click)="onDeleteLobby()" matTooltip="Delete Lobby" [mdTooltipClass]="{'tooltip': true}">
                    <ion-icon [style.color]="'var(--red-secondary)'" name="trash-outline"></ion-icon>
                </scrawlbrawl-iconbutton>
            </div>
        </div>

        <div class="lobby-header-sections">
            <div>
                <b>Lobby Code:</b> {{ lobby.lobbyId.toUpperCase() }}
            </div>
            Steps:
            <br>1) Share your screen or make sure all players can see the viewer and lobby code above
            <br>2) Tell players to navigate to scrawlbrawl.tv on their personal devices
        </div>
    </div>

    <div class="lobby-header">
        <div class="lobby-top">
            <h3 *ngIf="gameModeList.gameModes && gameModeList.gameModes.length > 0">
                Games
            </h3>
        </div>
        <div class="game-options">
            <div class="game-option-wrapper" *ngFor="let gameMode of gameModeList.gameModes; index as i">
                <div class="game-option" (click)="onSelectGameMode(i)" [ngClass]='{"active": isGameModeSelected(i)}'>
                    <div class="game-option-img">
                        <img gameAsset [gameAssetID]="gameMode.gameIdString" style="max-height: 200px; max-width:500px">
                    </div>
                    <div class="game-option-info">
                        <div class="game-option-title">
                            {{ gameMode.title }}
                            <scrawlbrawl-iconbutton matTooltip="Game Info" [mdTooltipClass]="{'tooltip': true}" (click)="openGameInfoDialog($event, i)">
                                <ion-icon name="information-circle-outline" [style.color]="'var(--text-color)'"></ion-icon>
                            </scrawlbrawl-iconbutton>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>