:host {
  width: 100%;
}

::ng-deep .mat-tooltip {
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 12px;
  background: rgba(40, 40, 40, .9);
}

.no-lobby{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.lobby-wrapper{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1100px;
  margin-bottom: 3rem;
}

.lobby-header{
  margin: 2rem 0;
}

.lobby-header-sections {
  display: flex;
  padding: 1rem;
  
  .lobby-header-section {
    display: flex;
    padding: 1rem;
    flex: 1;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: var(--shadow-md);
    background: var(--white-primary);

    &:first-child{
      margin-right: 2rem;
    }
  }
}

.section-title {
  margin-bottom: 1rem;
}

#admin-actions{
  display: flex;
  font-family: Poppins;
  font-weight: bold;
  justify-content: space-between;
}

.lobby-actions {
  display: flex;
  simplebutton {
    flex-basis: 33.3%;
    margin-right: 10px;
    font-size: .9rem;
  }
}


.game-options {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.game-option-wrapper{
  padding: 1rem;
  flex-basis: 50%;
  flex-grow: 1;
}

.game-option {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: var(--shadow-md);
  background-color: var(--white-primary);
  transition: all .25s ease;
  overflow: hidden;

  & > div {
    flex-basis: 50%;
  }

  &:hover {
    cursor: pointer;
    box-shadow: var(--shadow-lg);
    transform: translateY(-15px);
  }
}

.game-option-info {
  padding: .5rem;
}

.game-option-img{
  max-width: 380px;
}

.game-option-title{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


@media only screen and (max-width: 768px) { 
  .lobby-header-sections{
    flex-direction: column;
    margin-top: 1rem;
    padding: 0;
  }

  .lobby-header-section{
    margin-right: 0 !important;

    &:first-child{
      margin-bottom: 1rem;
    }
  }

  .lobby-wrapper {
    padding: 0 1rem;
  }


  .game-option-wrapper{
    padding: .5rem 0;
  }
}

