<!--Create Lobby button shows on load-->
<div class="no-lobby" *ngIf="lobby === null">
    <scrawlbutton (click)="onCreateLobby()">Create Lobby</scrawlbutton>
</div>

<div class="lobby-wrapper" *ngIf="lobby">
    <div class="lobby-header">
        <div class="lobby-top">
            <h3 class="lobby-id">Lobby</h3>
            <div class='icon-row'>
                <scrawlbrawl-iconbutton (click)="showInstructions()" matTooltip="Instructions" [mdTooltipClass]="{'tooltip': true}">
                    <ion-icon name="help-outline"></ion-icon>
                </scrawlbrawl-iconbutton>
                <scrawlbrawl-iconbutton (click)="onDeleteLobby()" matTooltip="Delete Lobby" [mdTooltipClass]="{'tooltip': true}">
                    <ion-icon [style.color]="'var(--red-secondary)'" name="trash-outline"></ion-icon>
                </scrawlbrawl-iconbutton>
            </div>
        </div>

        <div class="lobby-header-sections">
            <div>
                <b>ID</b> {{ lobby.lobbyId.toUpperCase() }}
                <div style="width:120px">
                    <scrawlbutton (click)="launchViewer()">Launch Viewer</scrawlbutton>
                </div>
            </div>
            <div>
                <b>Players</b> {{ lobby.playerCount }}
            </div>
        </div>
    </div>

    <div class="lobby-header" *ngIf="!lobby.isGameInProgress">
        <div class="lobby-top">
            <h3 *ngIf="gameModeList.gameModes && gameModeList.gameModes.length > 0">
                Games
            </h3>
        </div>
        <div class="game-options">
            <div class="game-option-wrapper" *ngFor="let gameMode of gameModeList.gameModes; index as i">
                <div class="game-option" (click)="onSelectGameMode(i)" [ngClass]='{"active": isGameModeSelected(i)}'>
                    <div class="game-option-img">
                        <img gameAsset [gameAssetID]="gameMode.gameIdString" style="max-height: 200px;">
                    </div>
                    <div class="game-option-info">
                        <div class="game-option-title">
                            {{ gameMode.title }}
                            <scrawlbrawl-iconbutton matTooltip="Game Info" [mdTooltipClass]="{'tooltip': true}" (click)="openGameInfoDialog($event, i)">
                                <ion-icon name="information-circle-outline"></ion-icon>
                            </scrawlbrawl-iconbutton>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>