.colorpicker {
    width: 100%;
    max-width: 500px;
}

.color-row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.color-row-descriptor{
    font-size: 12.5px;
    font-weight: 600;
    font-family: Montserrat;
    margin: .25rem 0;
    margin-left: .5rem; 
}

.color-square {
    flex: 1;
    height: 1.65rem;
    cursor: pointer;
    transition: all .2s ease;
    border: 2px solid transparent;
}

.color-grid {
    display: flex;
    width: 100%;
    flex-direction: row;

    .color-row{
        flex: 1;
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .color-square{
        flex: unset;
    }
}


.color-square:hover {
    border: 2px solid black;
}