<div class="drawb">
    <!-- Drawing Canvas -->
    <div class="drawb-canvas">
        <canvas 
            appDrawing 
            class="draw-canvas"
            [width]="drawingPrompt.widthInPx"
            [height]="drawingPrompt.heightInPx"
            [ngStyle]="{'background-image': 'url(' + drawingPrompt.canvasBackground + ')'}"
            [premadeDrawing]="drawingPrompt.premadeDrawing"
            [lineColor]="selectedColor"
            [lineWidth]="selectedBrushSize"
            [eraserMode]="eraserMode"
            (drawingEmitter)="onChange($event)">
        </canvas>
    </div>

    <!-- Drawing Settings -->
    <div class="drawb-settings">

        <div class="drawb-setting" *ngIf="showEraser">
            <div class="drawb-setting-header">
                Tools
            </div> 
            <div class="drawb-tools">
                <button class="icon-button" type="button" (click)="eraserMode= false" [ngClass]="{'icon-button-active': eraserMode == false}">
                    <ion-icon name="brush-outline"></ion-icon>
                </button>

                <button class="icon-button" type="button" (click)="eraserMode= true" [ngClass]="{'icon-button-active': eraserMode == true}">
                    <ion-icon name="close-sharp"></ion-icon>
                </button>
            </div>
        </div>

        <div class="drawb-setting">
            <div class="drawb-setting-header">
                Actions
            </div> 
            <div>
                <button class="icon-button" type="button" (click)="drawingDirective.onPerformUndo()">
                    <ion-icon name="arrow-redo-outline"></ion-icon>
                </button>
            </div>
        </div>

        <div class="drawb-setting" *ngIf="showBrushSizeSelector">
            <div class="drawb-setting-header">
                Size
            </div>         
            <input type="range" min="5" max="40" [value]="5" [(ngModel)]="selectedBrushSize">
        </div>

        <div class="drawb-setting" *ngIf="showColorSelector && drawingPrompt.colorList"> 
            <div class="drawb-setting-header">
                Color
            </div>                  
            <div class='drawb-colors'>
                <input type="color" [(ngModel)]="selectedColor" [value]="selectedColor">
            </div>
        </div>
    </div>
</div>