.drawb {
    display: flex;
    box-shadow: var(--shadow-lg);
    background-color: var(--card-background);
}

.drawb-top {
    display: flex;
    width: 100%;
}

.drawb-left {
    flex: 1;
}

.drawb-canvas {
    flex-basis: 65%;
}

.radio-group {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
}

.radio-button {
    margin: 5px;
    border-color: rgb(91, 80, 220);
}

.draw-canvas {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    pointer-events: all;
    &:hover {
        cursor: crosshair;
    }
}

.drawb-settings {
    background: var(--input-background);
}

#size-controller {
    display: flex;
    align-items: center;
}

#preview-size-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 60px;
    margin-left: .25rem;
}

#preview-size {
    box-shadow: var(--shadow-md);
    border-radius: 50%;
    background-color: var(--black-primary);
}

.color-input {
    width: 45px;
    height: 45px;
    border-radius: 5px;
    box-shadow: var(--shadow-md);
    transition: all .25s ease;
    background-color: var(--black-primary);
    cursor: pointer;
}

.color-input:hover {
    transform: scale(1.1);
}

.drawb-setting-color{
    display: flex;
    padding: .5rem;
    border-bottom: var(--border);
}

.drawb-setting {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: .5rem;
    border-bottom: var(--border);

    &:not(:last-of-type){
        border-right: var(--border);
    }
}

.drawb-setting-header {
    border-bottom: 0 !important;
    font-size: 12.5px;
    font-weight: 400;
    margin-bottom: .5rem;
}

.drawb-colors {
    display: flex;
    flex-wrap: wrap;
}

.drawb-tools {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: var(--border);
    height: 100%;
}

.drawb-tools-section {
    display: flex;
    flex-direction: column;
    border-bottom: var(--border);
    padding: .5rem;

    & > scrawlbrawl-iconbutton {
        width: 40px;
        height: 40px;
    }

    & > scrawlbrawl-iconbutton:not(:first-of-type){
        margin-top: 10px;
    }

    ion-icon {
        font-size: 22px;
    }
}

.radio-group {
    display: flex;
    flex-direction: column;
}

.color-picker-group {
    display: flex;
    flex-direction: row;
    padding-top: 1em;
}

.color-picker-dot:first-child {
    margin-left: 0;
}

.color-picker-dot {
    --size: 40px;
    height: var(--size);
    width: var(--size);
    border-radius: 50%;
    padding: calc(var(--size)/4);
    margin: 5px;
}

.radio-group {}

input[type=color] {
    width: 50px;
    height: 50px;
}

input[type=range] {
    border: 0;
    height: 39px;
    background: var(--input-background);
    -webkit-appearance: none;
    width: 100%;
    &:focus {
        border: 1px solid var(--black-secondary);
    }
    &::-webkit-slider-runnable-track {
        width: 100%;
        height: 8px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 1px 1px 2px #A6A6A6;
        background: var(--pastelblue);
        border-radius: 4px;
        border: 2px solid var(--blue-primary);
    }
    &::-webkit-slider-thumb {
        box-shadow: 1px 1px 2px #A6A6A6;
        border: 2px solid var(--blue-primary);
        height: 30px;
        width: 17px;
        border-radius: 10px;
        background: var(--pastelblue);
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -13px;
    }
    &:focus::-webkit-slider-thumb {
        background: var(--pastelred);
    }
}

::ng-deep.mat-bottom-sheet-container {
    padding: 0 !important;
    min-width: 0 !important;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    overflow: hidden !important;
}

@media only screen and (max-width: 768px) {
    .drawb {
        flex-direction: column;
    }
    .drawb-settings {
        display: flex;
        flex-wrap: wrap;
        border-left: 1px solid var(--white-secondary);
    }
    .drawb-setting {
        padding: .5rem 1rem .5rem 0;
        border-bottom: 0 !important;
        width: 50%;
        flex-grow: 1;
    }
}

@media only screen and (max-width: 500px) {
     ::ng-deep.mat-bottom-sheet-container {
        width: 100vw !important;
    }
}