<div class="drawing-canvas-holder">
    <!-- Drawing Canvas -->
    <canvas appDrawing class="drawing-canvas"
            [width]="drawingPrompt.widthInPx"
            [height]="drawingPrompt.heightInPx"
            [ngStyle]="{'background-image': 'url(' + drawingPrompt.canvasBackground + ')'}"
            [premadeDrawing]="drawingPrompt.premadeDrawing"
            [lineColor]="selectedColor"
            [lineWidth]="selectedBrushSize"
            [eraserMode]="eraserMode"
            (drawingEmitter)="onChange($event)">
    </canvas>
</div>

<!-- Drawing Settings -->
<div *ngIf="showEraser">
  <mat-radio-group class="radio-group" [(ngModel)]="eraserMode">
    <mat-radio-button class="radio-button" [value]="false">Brush</mat-radio-button>
    <mat-radio-button class="radio-button" [value]="true">Erase</mat-radio-button>
    <button type="button" class="btn btn-primary d-inline-flex" (click)="drawingDirective.onPerformUndo()"> Undo</button>
  </mat-radio-group>
</div>

<button type="button" class="btn btn-primary d-inline-flex" (click)="drawingOptionsCollapse = !drawingOptionsCollapse" [attr.aria-expanded]="!drawingOptionsCollapse">
    {{ drawingOptionsCollapse ? "▼" : "▲" }} Brush options
</button>
<div [ngbCollapse]="drawingOptionsCollapse">
    <!-- Brush Color Picker -->
    <div *ngIf="showColorSelector && drawingPrompt.colorList && drawingPrompt.colorList.length > 1">
        <mat-radio-group class="color-picker-group" [(ngModel)]="selectedColor" (change)="eraserMode=false">
            <div class="color-picker-dot" *ngFor="let colorChoice of drawingPrompt.colorList; let i = index" [ngStyle]="{'background-color': colorChoice}">
                <mat-radio-button [value]="colorChoice" [checked]="i==0"></mat-radio-button>
            </div>
        </mat-radio-group>
    </div>

    <!-- Brush Size Picker -->
    <div *ngIf="showBrushSizeSelector">
        <mat-radio-group class="radio-group" [(ngModel)]="selectedBrushSize">
            <mat-radio-button class="radio-button" [value]="5">Small</mat-radio-button>
            <mat-radio-button class="radio-button" [value]="15">Medium</mat-radio-button>
            <mat-radio-button class="radio-button" [value]="40">Large</mat-radio-button>
        </mat-radio-group>
    </div>
</div>
