<div class="drawb">
    <!-- Drawing Canvas -->
    <div class="drawb-canvas">
        <canvas appDrawing class="draw-canvas" [width]="drawingPrompt.widthInPx" [height]="drawingPrompt.heightInPx" [ngStyle]="{'background-image': 'url(' + drawingPrompt.canvasBackground + ')'}" [premadeDrawing]="drawingPrompt.premadeDrawing" [localStorageId]="drawingPrompt.localStorageId"
            [lineColor]="selectedColor" [lineWidth]="selectedBrushSize" [eraserMode]="eraserMode" (drawingEmitter)="onChange($event)">
        </canvas>
    </div>

    <!-- Drawing Settings -->
    <div class="drawb-settings">

        <div class="drawb-setting" *ngIf="showEraser">
            <div class="drawb-setting-header">
                Tools
            </div>
            <div class="drawb-tools">
                <scrawlbrawl-iconbutton (click)="eraserMode= false" [active]="!eraserMode">
                    <ion-icon name="brush-outline"></ion-icon>
                </scrawlbrawl-iconbutton>

                <scrawlbrawl-iconbutton (click)="eraserMode= true" [active]="eraserMode">
                    <eraser-svg></eraser-svg>
                </scrawlbrawl-iconbutton>
            </div>
        </div>

        <div class="drawb-setting">
            <div class="drawb-setting-header">
                Actions
            </div>
            <div>
                <scrawlbrawl-iconbutton (click)="drawingDirective.onPerformUndo()">
                    <ion-icon name="arrow-back-outline"></ion-icon>
                </scrawlbrawl-iconbutton>
            </div>
        </div>

        <div class="drawb-setting" *ngIf="showBrushSizeSelector">
            <div class="drawb-setting-header">
                Size
            </div>
            <input type="range" min="5" max="40" [value]="5" [(ngModel)]="selectedBrushSize">
        </div>

        <div class="drawb-setting" *ngIf="showColorSelector && drawingPrompt.colorList">
            <div class="drawb-setting-header">
                Color
            </div>
            <div class='drawb-colors'>
                <input type="color" (click)='handleColorPickerOnClick($event.target)' [(ngModel)]="selectedColor" [value]="selectedColor">
            </div>
        </div>
    </div>
</div>