<section>
  <div class="gamemode-list">
    <div class='gamemodes-row'>
      <div class="arrow-holder">
        <button (click)="onPreviousGameMode()" class="control prev">
          <span class="arrow left"></span>
        </button>
      </div>
      <app-gamemode [gameModeID]="gameModes[currentGameMode].gameIdString">
      </app-gamemode>
      <div class="arrow-holder">
        <button (click)="onNextGameMode()" class="control next">
          <span class="arrow right"></span>
        </button>
      </div>
    </div>
  </div>
</section>
