/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #FFFFFF;
  color: #210F4C;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.SubmitButton {
  color: rgb(61, 49, 173);
  font-size: 23px;
  padding: 6px;
  border: 1px solid black;
  border-radius: 4px;
  display: inline-block;
  margin: 0.5em 0 0.5em 0
}

.slider .slider-horizontal {
  width: 98%;
}

.sliderHolder {
  width: 98%
}

.SubmitButton:hover {
  background: #5F4EA4;
}

.SubmitButton:active {
  background: #362C5D;
}

input.text {
  padding: 3px;
}

input {
  background-color: whitesmoke;
  border: 1px solid #DEDEDE;
  border-radius: 4px;
}
.Title {
  font-size: 27px;
  letter-spacing: -0.4px;
  word-spacing: -0.8px;
  font-weight: 700;
  font-style: normal;
  text-transform: none;
}

.Description {
  font-size: 21px;
  letter-spacing: 0.4px;
  word-spacing: -0.2px;
  font-weight: 400;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

.Prompt {
  font-size: 17px;
  letter-spacing: -0.2px;
  word-spacing: 0.2px;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

.ShortAnswer {
  font-size: 14px;
  letter-spacing: -0.2px;
  word-spacing: -1.4px;
  font-weight: 400;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

.RadioAnswer {
  font-size: 30px;
  letter-spacing: -0.2px;
  word-spacing: -1.4px;
  font-weight: 400;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}
#wrapper {
  width: 980px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  background-color: #38147C;
}

input[type='radio'] {
  height: 45px;
  width: 45px;
  vertical-align: middle;
}
.color-box {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: #ccc;
  position: relative;
  top: 5px;
}

.leftImg {
  opacity: 0.4;
  max-width: 24%;
  height: auto;
  max-width: calc(24% * (var(--n) / 100))
}

.rightImg {
  opacity: 0.4;
  max-width: 24%;
  height: auto;
  max-width: calc(24% * (var(--n) / 100))
}

.mainImg {
  border: 2px solid blue;
  max-width: 50%;
  height: auto;
  max-width: calc(50% * (var(--n) / 100))
}
