@mixin inner-section {
    display: flex;
    max-width: 1350px;
    width: 100%;
    margin: 0 auto;
}

:host {
    width: 100%;
    background-color: var(--background);
}

h2 {
    font-size: 40px;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-section{
    display: flex;
    background: var(--pastelyellow);
    height: 100vh;
}

.action-section {
    justify-content: space-evenly;
}

section {
    display:flex;
    justify-content: center;
    margin: 0 auto;
    padding: 5rem 4%;
}

.home-wrapper{
    margin-top: 1.5rem;
    margin-bottom: 4rem;
}

.home-header{
    margin: 0 auto;
}

.home-textimage {
    @include inner-section;

    .home-image {
        border-radius: 5px;
        overflow: hidden;
        min-height: 410px;
        width: 100%;
        box-shadow: var(--shadow-lg);
        background: white;
        flex: 5;
    }

    .home-svg {
        display: flex;
        align-items: center;
        flex: 5;

        img {
            width: 650px;
            height: auto;
        }
    }
}

.home-text{
    display: flex;
    justify-content: center;
    margin-left: 6rem;
    margin-right: 1rem;
    flex: 5;

    &.left {
        margin-left: 2rem;
        margin-right: 4rem;
    }

    .home-text-wrapper {
        display: flex;
        flex-direction: column;
    }

    h2 {
        font-size: 40px;
        line-height: 50px; 
        text-transform: capitalize;
        margin-top: 2.5rem;
    }

    .itsection-description {
        margin: 2.5rem 0;
    }

    .itsection-button{
        max-width: 180px;
    }
}

.hero-content{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.hero-image {
    max-width: 1100px; 
    width: 100%;
    height: auto;
}

.catchphrase {
    display: flex;
    text-shadow: 1px 1px 4px rgba(150, 150, 150, .75);
}

@media only screen and (max-width: 1200px) {
    section {
        padding: 3rem 4%;
    }

    h2 {
        font-size: 36px !important;
        margin-top: .5rem !important;
    }

    .home-text {
        margin-left: 3rem;
    }

    .home-textimage {
        .home-image {
            min-height: 300px;
        }

        .home-svg{
            width: 400px;
        }
    }

    .hero-image {
        max-width: 900px;
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    section {
        padding: 2rem 4%;
    }

    h2 {
        font-size: 32px !important;
    }

    .home-textimage {
        flex-direction: column;

        .home-image {
            min-height: 380px;
            margin-bottom: 1rem;
        }
    }

    .hero-image {
        max-width: 600px;
        width: 100%;
    }
}

@media only screen and (max-width: 468px) {
    .hero-image {
        max-width: 350px;
        width: 100%;
        margin-top: 3rem;
    }

    h2 {
        font-size: 30px !important;
    }

    .home-textimage {
        .home-text {
            margin: 0 1rem;

            .itsection-description {
                margin: .5rem 0;
            }
        }

        .home-image{
            min-height: 280px;
        }
    }
}
