:host {
    width: 100%;
}

.home-wrapper{
    margin-top: 1.5rem;
    margin-bottom: 4rem;
}

.home {
    display: flex;
    padding: 5% 0;
    flex-direction: column;
    align-items: center;
}

.home-header{
    margin: 0 auto;
}

.vid-preview{
    width: 70%;
    margin-top: 3rem;
    box-shadow: var(--shadow-lg);
}

.vid-preview > iframe{
    width: 100%;
    height: 600px;
}