<div class="aboutus-wrapper">
	<div class="header-content">
		<h1>The Scrawl Brawl Team</h1>
		<p>
			Scrawl Brawl was created so large family gatherings could play games 
			without some of the people having to sit out. The goal of Scrawl 
			Brawl is for large groups to have fun together. The project has been 
			released as open source to encourage others to help develop games.
		</p>
	</div>
	<div class="members">
		<aboutus-member *ngFor="let member of members" [member]="member"></aboutus-member>
	</div>
</div>

<app-footer></app-footer>