<section>
    <div class="home-textimage">
        <div class="home-image">
            <div class="vid-preview">
                <iframe src="https://www.youtube.com/embed/UtIlhgQW_lM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
            </div>
        </div>
        <div class="home-text">
            <div class="home-text-wrapper">
                <h2 class="itsection-title">
                    A game for friends, family, and streamers
                </h2>
                <div class="itsection-description">
                    With limitless lobbies and open source game mode creation, the possibilities are endless and always expanding!
                </div>
                <div class="itsection-button">
                    <scrawlbutton link="/about" action> Learn More </scrawlbutton>
                </div>
            </div>
        </div>
    </div>
</section>