<section>
  <div class="home-textimage">
    <div class='home-svg'>
      <img src="assets/svgs/home/connect-with-us.svg"/>
    </div>
    <div class="home-text">
      <div class="home-text-wrapper">
        <h2 class="itsection-title">
          Connect with us!
        </h2>
        <div class="itsection-description">
          Got feedback, questions, or want to find ways to get engaged? Drop us a line!
        </div>
        <div class="itsection-socials">
          <a href={{socialLinks.twitter}} target="_blank">
            <twitter-icon></twitter-icon>
          </a>
          <a href={{socialLinks.twitch}} target="_blank">
            <twitch-icon></twitch-icon>
          </a>
          <a href={{socialLinks.facebook}} target="_blank">
            <facebook-icon></facebook-icon>
          </a>
          <a href={{socialLinks.youtube}} target="_blank">
            <youtube-icon></youtube-icon>
          </a>
        </div>
      </div>
    </div> 
  </div>
</section>