section{
    padding-bottom: 0;
}

.itsection-socials {
    display: flex;
    fill: var(--background);

    a {
        margin-right: 25px;
        max-height: 25px;
        max-width: 30px;
    } 

    a:hover{
        fill: var(--yellow-primary);
        transition: all .25 ease;
    }
}

@media only screen and (max-width: 768px) {
    section{
        padding-bottom: 2rem;
    }
}