<section>
    <div class="home-textimage">
        <div class='home-svg'>
            <img src="assets/svgs/home/connect-with-us.svg" />
        </div>
        <div class="home-text">
            <div class="home-text-wrapper">
                <h2 class="itsection-title">
                    Connect with us!
                </h2>
                <div class="itsection-description">
                    Got feedback, questions, or want to find ways to get engaged? Drop us a line!
                </div>
                <div class="itsection-socials">
                    <a href={{socialLinks.twitter}} target="_blank" title="Follow us on Twitter">
                        <twitter-icon></twitter-icon>
                    </a>
                    <a href={{socialLinks.twitch}} target="_blank" title="Follow us on Twitch">
                        <twitch-icon></twitch-icon>
                    </a>
                    <a href={{socialLinks.youtube}} target="_blank" title="Follow us on YouTube">
                        <youtube-icon></youtube-icon>
                    </a>
                    <a href={{socialLinks.discord}} target="_blank" title="Connect with us on Discord">
                        <discord-icon></discord-icon>
                    </a>
                    <a href={{socialLinks.reddit}} target="_blank" title="Connect with us on Reddit">
                        <reddit-icon></reddit-icon>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>