section{
    padding-bottom: 0;
}

.itsection-socials {
    display: flex;
    fill: var(--white-primary);
    transition: all .3 ease;

    a {
        margin-right: 25px;
        max-height: 25px;
        max-width: 30px;
    } 

    a:hover{
        fill: var(--yellow-primary);
    }
}

@media only screen and (max-width: 768px) {
    section{
        padding-bottom: 2rem;
    }
}