@import "./../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "./../node_modules/ngx-ui-switch/ui-switch.component.css";
@import "styles/animations";
@import "styles/theme";
@import "styles/common";
@import 'styles/mixins';

html,
body {
    height: 100%;
}

a {
    font-family: Poppins;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}

a:hover {
    text-decoration: none;
}

button {
    white-space: nowrap;
    text-align: center;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-color);
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
}

h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 38px;
}

h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
}

h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
}

h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 32px;
}

b {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.error {
    color: var(--red-primary);
}

.disclaimer {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}

input {
    border: 1px solid var(--white-secondary);
    border-radius: 4px;
    background: var(--surface-background);
    color: var(--text-color);
}

ion-icon {
    font-size: 30px;
}


/* Mat */

.mat-progress-spinner circle,
.mat-spinner circle {
    stroke: var(--text-color);
}

.mat-tab-label {
    min-width: 0!important;
}

.mat-tooltip {
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 12px;
    background: rgba(40, 40, 40, .9);
}

.mat-dialog-container {
    background: var(--card-background) !important;
    color: var(--text-color) !important;
}

.galleryPics {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    height: 400px;
    justify-content: space-evenly;
    background-color: var(--surface-background);

    .galleryImage {
        @include responsive(3);
        transition: all cubic-bezier(0.19, 1, 0.22, 1);
        padding: .75rem; 
    }

    img {
        width: 100%;
        cursor: pointer;
        box-shadow: var(--shadow-md);

        &:hover {
            box-shadow: var(--shadow-lg);
        }
    }
}

/* Remove */

.slider.slider-horizontal {
    width: 98%;
}

.sliderFrame {
    padding-left: 15px;
    padding-bottom: 30px;
    padding-top: 10px;
}

.sliderHolder {
    width: 98%
}

.leftImg {
    opacity: 0.4;
    max-width: 24%;
    height: auto;
    max-width: calc(24% * (var(--n) / 100));
}

.rightImg {
    opacity: 0.4;
    max-width: 24%;
    height: auto;
    max-width: calc(24% * (var(--n) / 100));
}

.mainImg {
    border: 2px solid var(--blue-primary);
    max-width: 50%;
    height: auto;
    max-width: calc(50% * (var(--n) / 100));
}

.color-box {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: #ccc;
    position: relative;
    top: 5px;
}