<h2 [ngStyle]="{'margin-bottom': '1.5rem'}">
  Instructions
</h2>

<mat-dialog-content>
  <div>
    1. Download Game Client (Cloud Icon)
  </div>
  <div>
    2. Share lobby code with friends, they do not need to download the client
  </div>
  <div>
    3. Launch game client and enter the lobby code
  </div>
  <div>
    4. Back on the lobby page, select a game
  </div>
  <div>
    5. Configure the game settings
  </div>
  <div>
    6. Start the game!
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <scrawlbutton [ngStyle]="{'margin-right': '.75rem'}" color='red' (click)="close()">
      Close
  </scrawlbutton>
</mat-dialog-actions>