<h2 [ngStyle]="{'margin-bottom': '1.5rem'}">
    {{gameModes[selectedGameMode].title}}
</h2>

<mat-dialog-content>
    <div gameAsset [gameAssetClass]="'lobby-descriptions'" [gameAssetID]='gameModes[selectedGameMode].gameIdString'></div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <scrawlbutton [ngStyle]="{'margin-right': '.75rem'}" color='red' (click)="close()">
        Close
    </scrawlbutton>
    <scrawlbutton color='green' (click)="onProceedToSettings()">
        Settings
    </scrawlbutton>
</mat-dialog-actions>