<h2 class="gi-heading">
    {{gameModeList.gameModeFromGameId(selectedGameModeId).title}}
</h2>

<mat-dialog-content>
    <div gameAsset [gameAssetClass]="'lobby-descriptions'" [gameAssetID]='selectedGameModeId' style="padding-bottom:10px"></div>
    <div *ngIf="!showInstructions" style="width:180px;padding-top: 4px;">
        <scrawlbutton (onClick)="showInstructions=true">Show Instructions</scrawlbutton>
    </div>
    <app-tutorial *ngIf="showInstructions" class="TutorialHolder" [tutorialMetadata]="defTutorialMetadata" [gameModeIdString]="selectedGameModeId"></app-tutorial>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <scrawlbutton [ngStyle]="{'margin-right': '.75rem'}" color='red' (click)="close()">
        Close
    </scrawlbutton>
    <scrawlbutton *ngIf="proceedToGameSettings" color='green' (click)="onProceedToSettings()">
        Settings
    </scrawlbutton>
</mat-dialog-actions>