<mat-tab-group (selectedIndexChange)="onTabClick($event)">
    <mat-tab label="Samples">
        <gallerypanel (closeSheet)="closeSheet()" #gallerySamples [galleryPanelType]="'Samples'" [drawingOptions]="drawingOptions" [drawingDirective]="drawingDirective"></gallerypanel>
    </mat-tab>
    <mat-tab label="Recent">
        <gallerypanel (closeSheet)="closeSheet()" #galleryRecent [galleryPanelType]="'Recent'" [drawingOptions]="drawingOptions" [drawingDirective]="drawingDirective"></gallerypanel>
    </mat-tab>
    <mat-tab label="Favorites">
        <gallerypanel (closeSheet)="closeSheet()" #galleryFavorites [galleryPanelType]="'Favorites'" [drawingOptions]="drawingOptions" [drawingDirective]="drawingDirective"></gallerypanel>
    </mat-tab>
</mat-tab-group>
<div *ngIf="galleryEditor">
    <ion-icon name="trash-outline" style="vertical-align: bottom;" (click)="onDeleteClicked()"></ion-icon>
    <div *ngIf="galleryOptions.allowCopy" (click)="favoritesToClipboard()" style="cursor:pointer">copy Favs</div>
    <div *ngIf="galleryOptions.allowPaste" (click)="favoritesFromClipboard()" style="cursor:pointer">paste Favs</div>
</div>