.gamemode-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.mat-mdc-radio-button~.mat-mdc-radio-button {
    margin-left: 35px;
}