@import 'styles/mixins';

:host{
    @include responsive(3);
}

.galleryImage {
    position: relative;
    transition: all cubic-bezier(0.19, 1, 0.22, 1);
    padding: .75rem; 
    max-height: 50%;
}

.delete {
    position: absolute;
    top: 0;
    right: 0;

    &:hover {
        cursor: pointer;
    }
}

img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    box-shadow: var(--shadow-md);

    &:hover {
        box-shadow: var(--shadow-lg);
    }
}