<section class="hero-section">
    <div @simpleFadeAnimation class="hero-content">
        <div class="cast">
            <img class='hero-image' src="assets/svgs/hero-logo.svg" />
        </div>
        <div class="catchphrase">
            <h2>Drawn Together.</h2>
            <h2>Polled Apart.</h2>
        </div>
        <div id="mobile-play">
            <scrawlbutton color="green" link='/join' action>Join Game</scrawlbutton>
        </div>
        <div class="scroll-down" onclick="window.scrollBy(0,window.innerHeight)"></div>
    </div>
</section>