section {
    padding: 0;
}

.hero-section {
    background: var(--hero-background);
}

h2 {
    margin-right: .25rem;
    margin-left: .25rem;
}

#mobile-play {
    display: block
}

@media only screen and (max-width: 768px) {
    #mobile-play {
        display: block;
    }
}

@media only screen and (max-width: 420px) {
    .catchphrase {
        flex-direction: column;
        align-items: center;
    }
}