

.member-wrapper{
    padding: 1.25rem;
    height: 100%;
    flex-basis: 33.3%;
}

.member {
    width: 320px;
    overflow: hidden;
    box-shadow: var(--shadow-md);
    height: 100%;
    transition: all .3s ease;
    border-radius: 10px;
}

.member:hover{
    cursor: pointer;
    box-shadow: var(--shadow-xl);
    transform: translate(0px, -20px);

}

.member-name {
    margin-top: .5rem;
}

.member-avatar{
    max-height: 300px;
    width: 100%;
}

.member-role {
    padding-bottom: 1rem;
    font-style: italic;
}

.member-description {
    margin-bottom: .5rem;
    font-size: .9rem;
}

.member-text {
    padding: .75rem;
    text-align: center;
}